* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
header{
    width: 88.88%;
    height: 49px;
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 65px;
    left: 80px;
}
div#nav{
    width: 271px;
    height: 19px;
    position: relative;
    top: 15.5px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 18.78px;
}
div > ul{
    display: flex;
    justify-content: space-around;
}
div > ul > li{
    padding: 0 0 0 30px;
}
a{
    text-decoration: none;
    color: #07043B;
}
div#hero{
    width: 88.88%;
    height: 304px;
    position: relative;
    top: 116px;
    left: 80px;
}
div.hero-image{
    width: 440px;
    height: 300px;
    position: absolute;
    left: 640px;
}
img#hero-img{
    width: 100%;
    height: 300px;
}
div.hero-info-group{
    width: 740px;
    height: 300px;
}
p.heading{
    width: 627px;
    height: 120px;
    margin-top: 60px;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 60px;
}
p.info{
    width: 585px;
    height: 72px;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.53125px;
    margin-top: 15px;
}
form.form-group{
    width: 585px;
    height: 45px;
    position: relative;
    margin-top: 42px;
}
input#email{
    width: 320px;
    height: 45px;
    padding-left: 15px;
    font-size: 14px;
}
button#email-btn{
    width: 200px;
    height: 45px;
    margin-left: 10px;
    background: #2F65F8;
    border-radius: 3.13px;
    border: none;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    
}
div.productive{
    width: 100%;
    height: 838px;
    position: relative;
    top: 230px;
}
img#productive-image{
    width: 100%;
    height: 6.33%;
}
div.productive-content{
    width: 100%;
    height: 100%;
    background-color: #F8F8FE;
    margin-top: -5px;
}
img#productive-content-image{
    width: 302px;
    height: 241px;
    position: relative;
    top: 100px;
    left: 818px;
}
p.productive-info-heading{
    width: 727px;
    height: 47px;
    position: absolute;
    top: 178px;
    left: 80px;
    font-size: 40px;
    text-align: center;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
p.productive-info-text{
    width: 529px;
    height: 48px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    top: 238px;
    left: 120px;
}
p.productive-info-text.more{
    margin-top: 66px;
}
div.productive-details{
    width: 166px;
    height: 27px;
    position: absolute;
    top: 390px;
    left: 120px;
    display: flex;
    flex-direction: row-reverse;
}
div.testimonial{
    width: 356px;
    height: 215px;
    position: relative;
    left: 120px;
    top: 180px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
}
img#productive-details-img{
    margin-left: -35px;
}
p.productive-details-text{
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
}
div#rectangle{
    width: 166px;
    height: 1px;
    background: #3DA08F;
    position: absolute;
    top: 28px;
}
p#qt-mark{
    font-family: "Nunito Sans", sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 0px;
    position: relative;
    left: 33px;
    top: 12px;
}
p#testimonial-text{
    width: 289px;
    height: 92px;
    position: relative;
    left: 33px;
    bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
}
div.profile{
    width: 137px;
    height: 32px;
    display: flex;
    position: relative;
    left: 33px;
}
img#profile-img{
    border-radius: 50%;
}
div.profile-info{
    width: 100%;
    margin-left: 8px;
    font-family: "Open Sans", sans-serif;
    line-height: 15px;
}
p.username{
    font-size: 11px;
    font-weight: 700;
    
    letter-spacing: 0.550000011920929px;

}
p.user-rank{
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 0.4000000059604645px;
}
div.cta-section{
    width: 100%;
    height: 369.71px;
    background: #575988;
    position: relative;
    top: 180px;
    display: flex;
}
div.cta-info-section{
    width: 533px;
    height: 137px;
    position: relative;
    top: 100px;
    left: 80px;
}
p.cta-info-heading{
    width: 347px;
    height: 48px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    line-height: 48px;
}
p.cta-info-text{
    width: 533px;
    height: 72px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-top: 17px;
}
form.form-group.second{
    width: 480px;
    height: 112px;
    position: relative;
    top: 100px;
    left: 227px;
    display: flex;
    flex-direction: column;
}
form.form-group.second > input#email{
    width: 85%;
}
form.form-group.second > button#email-btn{
    margin: 16px 0 0 0px;
}
footer#footer{
    width: 100%;
    height: 391px;
    position: relative;
    top: 180px;
    background: #07043B;
}
div.contact-info-group{
    width: 222px;
    height: 140px;
    position: relative;
    top: 92px;
    left: 80px;
    color: #fff;
}
img#logo-copy{
    width: 135px;
    height: 39px;
}
div.contact-card{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 37px;
}
.contact-card-text{
    margin: 0 0 25px 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

}
img#telephone-icon, img#email-icon{
    width: 24px;
    height: 24px;
}
div.company-info-group{
    width: 69px;
    height: 136px;
    position: relative;
    left: 524px;
    top: 70px;
}
div.company-info-group > p{
    margin-bottom: 16px;
}
a#about-us, a#jobs, a#press, a#blog{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 22px;
    letter-spacing: 0px;
    /* margin: 15px; */
}
div.legal-info-group{
    width: 81px;
    height: 98px;
    position: relative;
    left: 793px;
    bottom: 70px;
}
div.legal-info-group > p{
    margin-bottom: 16px;
}
a#contact-us, a#terms, a#privacy{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 22px;
    letter-spacing: 0px;
}
div.footer-icons-group{
    width: 139.79px;
    height: 31px;
    position: absolute;
    left: 1059px;
    bottom: 170px;
    display: flex;
}
div.footer-icons-group > div.oval{
    width: 31.22px;
    height: 31px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin: 0 12.49px 0 0;
}
img#fb-icon{
    width: 40.33%;
    position: relative;
    left: 9px;
    top: 5px;
}
img#tw-icon{
    width: 63.33%;
    position: relative;
    left: 5.5px;
    top: 5px;
}
img#in-icon{
    width: 63.33%;
    position: relative;
    left: 5.5px;
    top: 5px;
}
@media only screen and (min-width: 315px) and (max-width: 480px) {
    html, body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
   header#header{
       width: 87.2%;
       height: 24px;
       position: relative;
       left: 24px;
       top: 24px;
   }
   img#top-logo{
       width: 80px;
   }
   div > ul{
       position: relative;
       bottom: 15px;
   }
   a{
       font-size: 12px;
   }
   div#hero{
       width: 85.3%;
       height: 609px;
       position: relative;
       top: 98px;
       left: 28px;
   }
   div.hero-image{
        width: 305px;
        height: 225px;
        position: relative;
        left: 34px;
   }
   img#hero-img{
        width: 100%;
        height: 100%;
        position: relative;
   }
   p.heading{
        position: relative;
        /* left: 23.5px; */
        font-size: 24px;
        text-align: center;
        width: 320px;
        line-height: 36px;
   }
   p.info{
        position: relative;
        /* left: 39px; */
        width: 296px;
        height: 84px;
        text-align: center;
        font-size: 14px;
        line-height: 21px;
    }
    form.form-group{
        width: 304px;
        height: 120px;
    }
    input#email, button#email-btn{
        width: 296px;
        font-size: 12px;
    }
    input#email{
        position: relative;
        left: 8px;
    }
    button#email-btn{
        margin-top: 16px;
    }
    div.productive{
        width: 100%;
        height: 961px;
    }
    img#productive-content-image{
        position: relative;
        left: 33px;
        top: 93px;
    }
    p.productive-info-heading{
        width: 80%;
        height: 24px;
        position: relative;
        top: 187px;
        left: 33px;
        font-size: 16px;
        text-align: center;
        /* line-height: 24px; */
    }
    p.productive-info-text{
        font-size: 14px;
        width: 320px;
        height: 63px;
        line-height: 21px;
        position: relative;
        top: 204px;
        left: 20px;
        text-align: center;
    }
    p.productive-info-text.more{
        margin-top: 16px;
    }
    div.productive-details{
        width: 130px;
        height: 23px;
        position: relative;
        top: 227px;
        left: 108px;
    }
    img#productive-details-img{
        width: 16px;
        height: 16px;
        position: relative;
        top: 5px;
        left: 5px;
    }
    p.productive-details-text{
        position: relative;
        right: 30px;
        font-size: 12px;
        width: 110px;
        height: 16px;
    }
    div#rectangle{
        width: 130px;
    }
    div.testimonial{
        width: 280px;
        height: 170px;
        position: relative;
        left: 43px;
        top: 261px;
    }
    p#qt-mark{
        font-size: 35.39px;
        width: 14px;
        height: 54px;
        position: relative;
        top: 0px;
    }
    p#testimonial-text{
        position: relative;
        bottom: 25px;
        width: 241.3px;
        height: 73px;
        font-size: 10px;
    }
    div.profile{
        width: 105px;
        height: 27px;
    }
    p.username{
        font-size: 9px;
    }
    p.user-rank{
        font-size: 6px;
        width: 73px;
        height: 12px;
        letter-spacing: 0px;
    }
    div.cta-section{
        width: 100%;
        height: 345px;
        position: relative;
        top: 290px;
        display: flex;
        flex-direction: column;
    }
    p.cta-info-heading{
        width: 100%;
        height: 24px;
        font-size: 18px;
        position: relative;
        bottom: 54px;
    }
    p.cta-info-text{
        width: 280px;
        height: 84px;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        position: relative;
        bottom: 38px;
        right: 40px;
    }
    form.form-group.second{
        position: relative;
        left: 50px;
        top: 54px;
    }
    form.form-group.second > input#email{
        width: 240px;
        height: 32px;
        font-size: 10px;
        line-height: 11.74px;
    }
    form.form-group.second > button#email-btn{
        position: relative;
        left: 5px;
        width: 240px;
        height: 32px;
        font-size: 10px;
        line-height: 11.74px;
    }
    footer#footer{
        width: 100%;
        height: 590px;
        position: relative;
        top: 290px;
    }
    img#logo-copy{
        width: 105px;
        height: 30px;
        position: relative;
        right: 40px;
        bottom: 15px;
    }
    div.contact-card{
        position: relative;
        right: 40px;
        top: 32px;
    }
    div.company-info-group{
        width: 69px;
        height: 136px;
        position: relative;
        left: 39px;
        top: 126px;
    }
    div.legal-info-group{
        width: 81px;
        height: 98px;
        position: relative;
        left: 39px;
        top: 146px;
    }
    div.footer-icons-group{
        position: relative;
        left: 139px;
        top: 169px;
    }
}
@media only screen and (min-width: 640px) and (max-width: 960px){
    
}